<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
	"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

	<bean id="memcached" class="com.solab.alarms.AlarmMemcachedClient">
		<property name="servers">
			<list>
				<value>127.0.0.1</value>
			</list>
		</property>
	</bean>
	<bean id="gtalkChannel" class="mx.angellore.cam.alarms.channel.GtalkChannel">
		<constructor-arg index="0">
			<value>wishes.master@gmail.com</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>oscar.2007.ivan</value>
		</constructor-arg>
		<constructor-arg index="2">
			<list>
				<value>oscar@angellore.com.mx</value>
			</list>
		</constructor-arg>
		<property name="minResendInterval" value="5000" />
	</bean>
	<bean id="twitterChannel" class="com.solab.alarms.channels.twitter.TwitterChannel">
	    <property name="accessToken" value="344432804-2GM7PBouXU3NY9l82MXoGiuw8eT4OWyftzjpOiZr" />
	    <property name="tokenSecret" value="uageuzzOkbKGgmWigOAYIZkiscZHdt3zb8EirR3Aw" />
	    <property name="prefix" value="CamServer" />
	    <property name="minResendInterval" value="5000" />
	</bean>
	
	<bean id="javaMailSender" class ="org.springframework.mail.javamail.JavaMailSenderImpl" >
    		<property name="username" value="wishes.master@gmail.com" />
    		<property name="password" value="oscar.2007.ivan" />
    		<property name="javaMailProperties">
    			<props>
		        <prop key="mail.smtp.from">wishes.master@gmail.com</prop>
		        <prop key="mail.smtp.user">wishes.master@gmail.com</prop>
	        	<prop key="mail.smtp.password">oscar.2007.ivan</prop>
		        <prop key="mail.smtp.host">smtp.gmail.com</prop>
		        <prop key="mail.smtp.port">587</prop>
	        	<prop key="mail.smtp.auth">true</prop>
	        	<prop key="mail.smtp.starttls.enable">true</prop>
	    	</props>
	    </property>
	</bean>
	
	<bean id="smsChannel" class="mx.angellore.cam.alarms.channel.CalixtaSMSChannel">
		<constructor-arg>
			<value>AlarmaCasa</value>
		</constructor-arg>
		<property name="minResendInterval" value="5000"></property>
	</bean>
	
	<bean id="alarmMailChannel" class="com.solab.alarms.channels.MailChannel">
	        <property name="javaMailSender" ref="javaMailSender" />
        	<property name="mailTemplate">
			<bean class="org.springframework.mail.SimpleMailMessage">
                		<property name="subject" value="Alarma" />
                		<property name="from" value="wishes.master@gmai.com" />
                		<property name="text"><value>${msg}</value></property>
                		<property name="to" value="oscar@angellore.com.mx" />
			</bean>
		</property>
        </bean>	
	
	<bean id="alarmSender" class="com.solab.alarms.AlarmSender">
         <property name="alarmChannels"><list>
                <ref local="gtalkChannel" />
                <ref local="twitterChannel" />
                <ref local="alarmMailChannel" />
                <ref local="smsChannel" />
        </list></property>
        <property name="alarmCache">
        	<ref local="memcached" />
        </property>
	</bean>
	
	<bean id="commands" class="java.util.HashMap">
		<constructor-arg>
			<map>
			 	<entry key="IP">
			 		<bean class="mx.angellore.cam.alarms.commands.impl.GetIP" />
			 	</entry>
			 	<entry key="CAMS">
			 		<bean class="mx.angellore.cam.alarms.commands.impl.GetCamUrls">
			 			<property name="lanIp" value="192.168.1.68" />
			 		</bean>
			 	</entry>
			</map>
		</constructor-arg>
	</bean>

</beans>
