<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
	"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

	<bean id="memcached" class="com.solab.alarms.AlarmMemcachedClient">
		<property name="servers">
			<list>
				<value>127.0.0.1</value>
			</list>
		</property>
	</bean>
	<bean id="gtalkChannel" class="mx.angellore.cam.alarms.channel.GtalkChannel">
		<constructor-arg index="0">
			<value>@</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value></value>
		</constructor-arg>
		<constructor-arg index="2">
			<list>
				<value>@</value>
				<value>@</value>
			</list>
		</constructor-arg>
		<property name="minResendInterval" value="5000" />
	</bean>
	<bean id="twitterChannel" class="com.solab.alarms.channels.twitter.TwitterChannel">
	    <property name="accessToken" value="" />
	    <property name="tokenSecret" value="" />
	    <property name="prefix" value="" />
	    <property name="minResendInterval" value="5000" />
	</bean>	
	
	<bean id="asteriskChannel" class="mx.angellore.cam.alarms.channel.AsteriskChannel">
		<constructor-arg index="0">
			<value>localhost</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>manager</value>
		</constructor-arg>
		<constructor-arg index="2">
			<value>pa55w0rd</value>
		</constructor-arg>
		<property name="config">
			<map>
				<entry key="CHANNEL">
					<value>SIP/</value>
				</entry>
				<entry key="CONTEXT">
					<value></value>
				</entry>
				<entry key="EXTENSION">
					<value>666</value>
				</entry>
				<entry key="CALLERID">
					<value>Urgent</value>
				</entry>
			</map>
		</property>
	</bean>	
	
	<bean id="javaMailSender" class ="org.springframework.mail.javamail.JavaMailSenderImpl" >
    		<property name="username" value="" />
    		<property name="password" value="" />
    		<property name="javaMailProperties">
    			<props>
		        <prop key="mail.smtp.from"></prop>
		        <prop key="mail.smtp.user"></prop>
	        	<prop key="mail.smtp.password"></prop>
		        <prop key="mail.smtp.host">smtp.gmail.com</prop>
		        <prop key="mail.smtp.port">587</prop>
	        	<prop key="mail.smtp.auth">true</prop>
	        	<prop key="mail.smtp.starttls.enable">true</prop>
	    	</props>
	    </property>
	</bean>
	
	<bean id="alarmMailChannel" class="com.solab.alarms.channels.MailChannel">
	        <property name="javaMailSender" ref="javaMailSender" />
        	<property name="mailTemplate">
			<bean class="org.springframework.mail.SimpleMailMessage">
                		<property name="subject" value="" />
                		<property name="from" value="" />
                		<property name="text"><value>${msg}</value></property>
                		<property name="to" value="" />
			</bean>
		</property>
        </bean>	
	
	<bean id="alarmSender" class="com.solab.alarms.AlarmSender">
         <property name="alarmChannels"><list>
                <ref local="gtalkChannel" />
                <ref local="twitterChannel" />
                <ref local="asteriskChannel" />
        </list></property>
        <property name="alarmCache">
        	<ref local="memcached" />
        </property>
	</bean>
	
	<bean id="commands" class="java.util.HashMap">
		<constructor-arg>
			<map>
			 	<entry key="IP">
			 		<bean class="mx.angellore.cam.alarms.commands.impl.GetIP" />
			 	</entry>
			 	<entry key="CAMS">
			 		<bean class="mx.angellore.cam.alarms.commands.impl.GetCamUrls" />
			 	</entry>
			</map>
		</constructor-arg>
	</bean>

</beans>
