<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="alarmSender" class="com.solab.alarms.AlarmSenderImpl">
        <property name="alarmChannels"><list>
        </list></property>
    </bean>

    <bean id="httpSever" class="mx.com.maleficarum.alarms.server.CamHTTPSever">
        <property name="port"><value>9191</value></property>
    </bean>
</beans>