<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="alarmSender" class="com.solab.alarms.AlarmSenderImpl">
        <property name="alarmChannels"><list>
            <ref local="mailChannel" />
            <ref bean="twitterChannel" />
            <ref bean="gtalkChannel" />
        </list></property>
        <property name="alarmCache">
            <ref local="memcached" />
        </property>
    </bean>

    <bean id="mailChannel" class="com.solab.alarms.channels.MailChannel">
        <property name="javaMailSender" ref="javaMailSender" />
        <property name="templatesBySource">
            <map>
                <entry key="PING">
                    <bean class="org.springframework.mail.SimpleMailMessage">
                        <property name="subject" value="PING" />
                        <property name="from" value="services@angellore.com.mx" />
                        <property name="text"><value>
                            Este mensaje es para notificar que la aplicacion esta arriba : ${msg}
                        </value></property>
                        <property name="to" value="oscar@angellore.com.mx" />
                    </bean>
                </entry>
                <entry key="FATAL">
                    <ref bean="mailDestinationList" />
                </entry>
            </map>
        </property>
    </bean>

    <bean id="httpSever" class="mx.com.maleficarum.alarms.server.CamHTTPSever">
        <property name="port"><value>9191</value></property>
    </bean>
    
    <bean id="pinger" class="mx.com.maleficarum.alarms.server.PingService">
        <property name="alarmSender">
            <ref local="alarmSender" />
        </property>
        <property name="interval">
            <value>60</value>
        </property>
    </bean>

    <bean id="javaMailSenderTemplate" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="465" />
        <property name="protocol" value="smtps" />
        <property name="username" value="" />
        <property name="password" value="" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtps.auth">true</prop>
            </props>
        </property>
    </bean>

    <bean id="twitterChannelTemplate" class="com.solab.alarms.channels.twitter.TwitterChannel">
        <property name="accessToken" value="AccessTokenObtenidoEjecutandoElPrograma_TwitterAuth" />
        <property name="tokenSecret" value="SecretoObtenidoDelPrograma_TwitterAuth_incluidioEn_jAlarms" />
    </bean>

    <bean id="memcached" class="com.solab.alarms.AlarmMemcachedClient">
        <property name="servers">
            <list>
                <value>192.168.1.104</value>
            </list>
        </property>
    </bean>
    
    <import resource="spring-private.xml" />
</beans>